<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/016dbbfd-ad9f-4d3c-ac31-954d454dc6d9/resourcegroups/EmployeeDB20241022135838ResourceGroup/providers/Microsoft.Web/sites/EmployeeDB20241022135838</ResourceId>
    <ResourceGroup>EmployeeDB20241022135838ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/016dbbfd-ad9f-4d3c-ac31-954d454dc6d9/resourceGroups/EmployeeDB20241022135838ResourceGroup/providers/Microsoft.ApiManagement/service/EmployeeDBapi/apis/EmployeeDB</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://employeedb20241022135838.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>df81cedb-70f6-4a24-b12c-188ae0903b82</ProjectGuid>
    <MSDeployServiceURL>employeedb20241022135838.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EmployeeDB20241022135838</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$EmployeeDB20241022135838</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>